html,
body {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

/* Style to change separator  */
.breadcrumb-item + .breadcrumb-item::before {
  content: "|";
}

.form-seminar {
  border: 2px solid rgb(123, 123, 123);
  padding: 30px;
  box-sizing: border-box;
}
