.form-daftar-seminar {
    border-style: solid;
    border-width: 3px;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 0 0 1.5em 0 !important;
    -webkit-box-shadow: 0px 0px 0px 0px #000;
    box-shadow: 0px 0px 0px 0px #000;
}

.legend-daftar-seminar {
    float: unset;
    width: unset;
    text-align: left !important;
}