:root {
  --c-primary-color: #f2860c;
  --c-secondary-color: #002147;
  --c-font-quicksand: "Quicksand", sans-serif;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--c-font-quicksand);
}

a {
  text-decoration: none;
}

div.container .title-group {
  color: white;
}

.title-group h2 {
  font-size: 3em;
}

.card-group {
  background-color: var(--c-secondary-color);
  color: white;
}

.carousel-inner .card {
  margin: auto;
}

.navigation ul li a.link-active {
  color: var(--c-primary-color);
  border-bottom: 1px solid var(--c-primary-color);
  line-height: 20px;
}

.header {
  width: 100%;
}

.logo-header {
  width: 100px;
  margin-left: 20px;
}

.navigation {
  margin-top: -30px;
  padding: 40px;
  padding-top: 60px;
  display: flex;
  justify-content: space-between;
  height: 50px;
  align-items: center;
  color: black;
}

.navigation ul li a {
  text-decoration: none;
  color: black;
  transition: 0.3s;
  font-size: 0.9em;
}

.navigation ul li a:hover {
  color: var(--c-primary-color);
  border-bottom: 1px solid var(--c-primary-color);
}

.navigation ul li a.logout {
  color: white;
}
.navigation ul {
  display: flex;
  list-style: none;
  justify-content: space-between;
  width: 38em;
  padding: 14px;
}

.navigation ul li {
  list-style: none;
  display: inline;
}
.user-active {
  color: black;
}

.menu-toggle {
  display: none;
  flex-direction: column;
  height: 20px;
  justify-content: space-between;
  position: relative;
}

.menu-toggle span {
  display: block;
  width: 28px;
  height: 3px;
  border-radius: 3px;
  background-color: var(--c-primary-color);
  transition: all 0.5s;
}

.menu-toggle input {
  position: absolute;
  width: 40px;
  height: 28px;
  left: -6px;
  top: -4px;
  opacity: 0;
  cursor: pointer;
  z-index: 100;
}

/* Hamburger menu animation */
.menu-toggle span:nth-child(2) {
  transform-origin: 0 0;
}

.menu-toggle span:nth-child(4) {
  transform-origin: 0 100%;
}

/* Ketika checkbox di check maka cari sibling/saudaranya yaitu anak kedua */
.menu-toggle input:checked ~ span:nth-child(2) {
  background-color: var(--c-secondary-color);
  transform: rotate(45deg) translate(-1px, -1px);
}

.menu-toggle input:checked ~ span:nth-child(4) {
  background-color: var(--c-secondary-color);
  transform: rotate(-45deg);
}

.menu-toggle input:checked ~ span:nth-child(3) {
  opacity: 0;
  transform: scale(0);
}

/* Responsive */
/* Tablet mode */
@media screen and (max-width: 768px) {
  .navigation ul {
    width: 50%;
  }

  .navigation ul li {
    margin-right: 10px;
  }
}

/* Mobile mode */
@media screen and (max-width: 576px) {
  .navigation ul {
    position: absolute;
    right: 0;
    top: 0;
    height: 100vh;
    width: 50%;
    flex-direction: column;
    background-color: var(--c-primary-color);
    align-items: center;
    /* justify-content: space-between; */
    transform: translateX(100%);
    transition: all 1s;
    opacity: 0;
  }
  .navigation ul.slide {
    opacity: 1;
    transform: translateX(0);
  }

  .navigation ul li a:hover {
    color: var(--c-secondary-color);
  }

  .menu-toggle {
    display: flex;
  }
  .navigation {
    padding: 30px;
  }
}

.card-user-3 {
  margin: 20px 20px;
  width: 9em;
}

.banner-header {
  background-image: url(../../images/bg-03.jpg);
  background-size: cover;
  background-position-y: center;
  height: 350px;
  width: 100%;
  padding-top: 130px;
}

footer {
  background-color: var(--c-secondary-color);
  height: 50px;
  font-size: 0.8em;
  left: 0;
  bottom: 0;
  width: 100%;
  color: var(--c-primary-color);
  text-align: center;
}

.carousel-control {
  border-radius: 50%;
  background: orange;
  width: 70px;
  height: 70px;
  margin: 70px 70px;
}

.card-wrap {
  box-shadow: 3px 3px 10px rgb(146, 146, 146);
  border-radius: 20px;
}

.github-logo {
  width: 50px;
}
