:root {
    --c-primary-color: #f2860c;
    --c-secondary-color: #002147;
    --c-font-quicksand: "Quicksand", sans-serif;
}

html,
body {
    padding: 0;
    margin: 0;
    font-family: var(--c-font-quicksand);
}

a {
    text-decoration: none;
}

div.container .title-group {
    color: white;
}

.title-group h2 {
    font-size: 3em;
}

.card-group {
    background-color: var(--c-secondary-color);
    color: white;
}

.carousel-inner .card {
    margin: auto;
}

.navigation ul li a.link-active {
    color: var(--c-primary-color);
    border-bottom: 1px solid var(--c-primary-color);
    line-height: 20px;
}

.header {
    width: 100%;
}

.logo-header {
    width: 100px;
    margin-left: 20px;
}

.card-user-3 {
    margin: 20px 20px;
    width: 9em;
}

.banner-header {
    background-image: url(../../images/bg-03.jpg);
    background-size: cover;
    background-position-y: center;
    height: 350px;
    width: 100%;
    padding-top: 130px;
}

footer {
    background-color: var(--c-secondary-color);
    height: 50px;
    font-size: 0.8em;
    left: 0;
    bottom: 0;
    width: 100%;
    color: var(--c-primary-color);
    text-align: center;
}

.carousel-control {
    border-radius: 50%;
    background: orange;
    width: 70px;
    height: 70px;
    margin: 70px 70px;
}

.card-wrap {
    box-shadow: 3px 3px 10px rgb(146, 146, 146);
    border-radius: 20px;
}

.github-logo {
    width: 50px;
}