:root {
    --c-primary-color: #f2860c;
    --c-secondary-color: #002147;
    --c-font-quicksand: "Quicksand", sans-serif;
}

html,
body {
    padding: 0;
    margin: 0;
    font-family: var(--c-font-quicksand);
    /* background-color: var(--c-secondary-color); */
    height: 800px;
}

a {
    text-decoration: none;
}

.navigation ul li a.link-active {
    color: var(--c-primary-color);
    border-bottom: 1px solid var(--c-primary-color);
    line-height: 20px;
}


/* Style to change separator  */

.breadcrumb-item+.breadcrumb-item::before {
    content: "|";
}

.form-seminar {
    padding: 20px;
    box-sizing: border-box;
}

.container {
    font-family: var(--c-font-quicksand);
}

.header {
    width: 100%;
}

.slider-content {
    background: #0c478a;
}

.carousel-inner img {
    margin: auto;
}

footer {
    background-color: var(--c-secondary-color);
    height: 50px;
    /* position: fixed; */
    font-size: 0.8em;
    left: 0;
    bottom: 0;
    width: 100%;
    color: var(--c-primary-color);
    text-align: center;
}

footer.footer a:hover {
    text-decoration: none;
    color: #0c478a;
}

footer.footer a {
    color: var(--c-primary-color);
}


/* Responsive */


/* Tablet mode */